@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:wght@300;400;700&display=swap');
$headingsFont: 'Amatic SC', sans-serif;
$bodyFont: 'Montserrat', sans-serif;
$accents: #FACB36;
$accentsHover: #F3CD56;
$text: #444645;
$white: white;
$black: black;
$bg: #FCF4EA;
$fontSize: 15px;
$transition: 0.3s linear;