@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #444645;
  line-height: 1.5;
  font-size: 15px;
}

h1, h2, h3, h4 {
  font-family: "Amatic SC", sans-serif;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 27px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FACB36;
  transition: 0.3s linear;
}
a:hover {
  color: #F3CD56;
}

nav {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
@media (max-width: 767px) {
  nav {
    padding: 10px 0;
  }
}
nav .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  nav .container {
    flex-direction: column;
  }
}
nav .container ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .container ul a {
  margin-left: 50px;
}
@media (max-width: 767px) {
  nav .container ul a {
    margin: 10px;
  }
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: auto;
}
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}

.btn {
  padding: 10px 45px;
  border-radius: 10px;
}

.btn-yellow {
  background: #FACB36;
  color: #444645;
}
.btn-yellow:hover {
  background: #F3CD56;
  color: #444645;
}

.py {
  padding: 100px 0;
}

.text-center {
  text-align: center;
}

.main-header {
  background-image: url(img/coffee-slajd-1.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-header .hgroup {
  padding: 300px 0;
  color: white;
}
@media (max-width: 767px) {
  .main-header .hgroup {
    padding: 250px 0 150px 0;
  }
}
.main-header .hgroup h1 {
  color: #FACB36;
}
.main-header .hgroup p {
  margin: 40px 0;
}

.ponuda h2 {
  color: #FACB36;
}
.ponuda h2 + p {
  padding: 30px 0 70px 0;
}
.ponuda article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ponuda article div {
  flex: 0 0 32%;
}
@media (max-width: 767px) {
  .ponuda article div {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }
  .ponuda article div:last-child {
    margin-bottom: 0;
  }
}
.ponuda article div h3 {
  padding: 45px 0 15px 0;
}

.meni {
  background: black;
  color: #FACB36;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.meni div:first-child {
  flex: 0 0 60%;
}
@media (max-width: 767px) {
  .meni div:first-child {
    flex: 0 0 100%;
  }
}
.meni div:first-child .row {
  padding: 100px;
}
.meni div:first-child .row .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.meni div:first-child .row .wrapper .menu-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 50%;
  margin-bottom: 30px;
}
.meni div:first-child .row .wrapper .menu-item .img {
  flex: 0 0 40%;
}
.meni div:first-child .row .wrapper .menu-item .img img {
  width: 100px;
}
.meni div:first-child .row .wrapper .menu-item .text {
  flex: 0 0 60%;
}
.meni div:first-child .row .wrapper .menu-item .text p {
  color: white;
}
.meni div:last-child {
  flex: 0 0 40%;
}/*# sourceMappingURL=style.css.map */